<h2 class="text-center">Global Emergency Contacts</h2>

<br/>
<h3>{{viewTitle}}</h3>


<form autocomplete="off" action="/contactlist" method="post">
  <input type="hidden" name="_id" value="{{cl._id}}">
  <div class="form-group">
    <label>Category/Name of Organisation</label>
    <input type="text" name="Name" class="form-control" placeholder="Category/Name" value="{{cl.Name}}">
    <div class="text-danger">
      {{cl.NameError}}
    </div>
  </div>
  <!-- <div class="form-group">
    <label>Email</label>
    <input type="text" name="email" class="form-control" placeholder="Email Address" value="{{cl.email}}">
    <div class="text-danger">
      {{cl.emailError}}
    </div>
  </div> -->
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Phone</label>
      <input type="number" name="phone" class="form-control" placeholder="Phone" value="{{cl.phone}}">
      <div class="text-danger">
        {{cl.PhoneError}}
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>Country</label>
      <input type="text" name="country" class="form-control" placeholder="Country" value="{{cl.country}}">
      <div class="text-danger">
        {{cl.CountryError}}
      </div>
    </div>
    </div>

    <div class="form-group">
      <button type="submit" name="button" class="btn btn-info"><i class="fa fa-database"></i>  Submit</button>
      <a href="/contactlist/record" class="btn btn-secondary"><i class="fa fa-list-alt"></i>  View All Contacts</a>
    </div>
</form>
